* {
  font-family: sans-serif;
}
.app {
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 3px;
}
