.month{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius:3px
    }
a {
    text-decoration: none;
}

.month-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.month-list > div {
    width: 21%;

}

.monthName {
    color: red;
    font-weight: 600;
    text-align: center;
    
}
.cell {
    padding: 2px 0;
    font-size: 12px;
    text-align: center;
}